h1,
h2 {
    margin: 0;
    padding: 0;
}

.nav-bar {
    display: flex;
    height: 40px;
    width: 300px;
    text-align: center;
    line-height: 40px;
    background-color: red;
}

.left,
.right {
    width: 80px;
    height: 100%;
    background-color: green;
}

.center {
    flex: 1;
}
